{:paths ["src" "target"]
 :deps  {org.clojure/clojurescript     {:mvn/version "1.12.42"}
         datascript/datascript         {:git/url "https://github.com/saberstack/datascript"
                                        :git/sha "c6dd4ac6ec784d4720dd0a5ecabd055e2fda9c95"}

         ;saberstack/zsxf               {:git/url "https://github.com/saberstack/zsxf" :git/sha "ad943ff1471dcc46c1ddee38bc04a2f43ebe5b79"}
         saberstack/zsxf               {:local/root "/Users/raspasov/projects/saberstack/zsxf"}
         com.bhauman/figwheel-main     {:mvn/version "0.2.20"}
         alexandria-clj/alexandria-clj {:local/root "/Users/raspasov/projects/saberstack/alexandria"}}}
